// ### Fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

// ### Primary Color

$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);

// ### Neutral Color

$Transparent-white: hsla(0, 0%, 100%, 0.75); // (paragraphs)
$Very-light-gray: hsl(0, 0%, 95%); // (background, headings, buttons)

// ### Sizes Variable maps

$header-size: (
  "large": 4.4vw,
  "medium": 45px,
  "small": 38px,
);

$text-size: (
  "large": 1.7vw,
  "medium": 20px,
  "small": 18px,
);

$box-padding: (
  "large": 2.2vw,
  "medium": 30px,
  "small": 15px,
);

$icon-size: (
  "large": 6vw,
  "medium": 65px,
  "small": 60px,
);

//  Coding Starts

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  body {
    font-family: "Lexend Deca", sans-serif;
    color: $Transparent-white;
    background-color: $Very-light-gray;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 7vw;
}

//  ##### Style rules for .box- classes

[class^="box-"] {
  height: 65vh;
  display: grid;
  padding: map-get($box-padding, large);
}

.box-1 {
  background-color: $Bright-orange;
  border-radius: 10px 0 0 10px;
}
.box-2 {
  background-color: $Dark-cyan;
}
.box-3 {
  background-color: $Very-dark-cyan;
  border-radius: 0 10px 10px 0;
}

//  ##### Style rules for .icon- classes

[class^="icon-"] {
  height: map-get($icon-size, "medium");
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-1 {
  background-image: url("../images/icon-sedans.svg");
}
.icon-2 {
  background-image: url("../images/icon-suvs.svg");
}
.icon-3 {
  background-image: url("../images/icon-luxury.svg");
}

//  ##### Style rules for .header classes

.header {
  font-size: map-get($header-size, "medium");
  color: $Very-light-gray;
  text-transform: uppercase;
}

//  ##### Style rules for .text classes

.text {
  font-size: map-get($text-size, medium);
}

//  ##### Style rules for .button- classes

[class^="button-"] {
  @extend .text;
  background-color: #fff;
  justify-self: flex-start;
  align-self: flex-end;
  padding: 8px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s ease;
  border: 3px solid white;
  &:hover {
    background-color: inherit;
    color: $Very-light-gray;
  }
}

.button-1 {
  color: $Bright-orange;
}
.button-2 {
  color: $Dark-cyan;
}
.button-3 {
  color: $Very-dark-cyan;
}

//  ##### Media Queries Here

@media (max-width: 425px) {
  .header {
    font-size: map-get($header-size, small);
  }
  .text {
    font-size: map-get($text-size, small);
  }
}

@media (max-width: 768px) {
  .container {
    margin: 40px 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  [class^="box-"] {
    height: 55vh;
    padding: map-get($box-padding, medium);
  }
  .box-1 {
    border-radius: 10px 10px 0 0;
  }
  .box-3 {
    border-radius: 0 0 10px 10px;
  }
}

@media (min-width: 1200px) {
  .container {
    height: 100vh;
    padding: 0 7vw;
  }

  //  ##### Style rules for .box- classes

  [class^="box-"] {
    height: 65vh;
    padding: map-get($box-padding, large);
  }

  //  ##### Style rules for .icon- classes

  [class^="icon-"] {
    height: map-get($icon-size, "large");
  }

  //  ##### Style rules for .header classes

  .header {
    font-size: map-get($header-size, "large");
  }

  //  ##### Style rules for .text classes

  .text {
    font-size: map-get($text-size, large);
  }

  //  ##### Style rules for .button- classes

  [class^="button-"] {
    padding: 0.45vw 1.8vw;
    border-radius: 0.8vw;
    border: 0.2vw solid white;
  }
}
