// ### Fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

// ### Primary Colors

$Very-dark-blue: hsl(233, 47%, 7%); // (main background)
$Dark-desaturated-blue: hsl(244, 38%, 16%); // (card background)
$Soft-violet: hsl(277, 64%, 61%); // (accent)

// ### Neutral Colors

$White: hsl(0, 0%, 100%); //  (main heading, stats)
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); // (main paragraph)
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.6); // (stat headings)

html {
  font-size: 16px;
  @media (min-width: 1250px) {
    font-size: 1.36vw;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  body {
    font-family: "Lexend Deca", sans-serif; // 400
    color: $Slightly-transparent-white;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: $Very-dark-blue;
  }
}

.purple {
  color: $Soft-violet;
}

.container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  width: 80vw;
  height: 65vh;
  border-radius: 0.9375rem;
  background-color: $Dark-desaturated-blue;
}

.text {
  padding: 8%;
  display: grid;
  &__heading {
    font-family: "Inter", sans-serif; // 400,700
    font-weight: 700;
    color: $White;
    font-size: 2.1875rem;
  }
  &__description {
    font-size: 1.25rem;
  }
  &__stats {
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    .number {
      font-size: 2.1rem;
      font-weight: 700;
      color: $White;
    }
    .stat-text {
      padding: 0;
      font-size: 0.975rem;
      text-transform: uppercase;
    }
  }
}

.image {
  background: url("../images/image-header-desktop.jpg"), #aa5cdb;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0.9375rem 0.9375rem 0;
}

// ### Media Queries

@media (max-width: 900px) {
  body {
    height: inherit;
  }
  .container {
    text-align: center;
    margin: 2.1875rem 0;
    grid-template-columns: inherit;
    grid-template-rows: 0.7fr 1fr;
    height: inherit;
    .text {
      padding: 6%;
      gap: 1.875rem;
      order: 1;
      &__stats {
        text-align: center;
        justify-content: center;
        grid-template-columns: inherit;
        gap: 1.5625rem;
      }
    }
    .image {
      order: 0;
      background-position: top center;
      border-radius: 0.9375rem 0.9375rem 0 0;
    }
  }
}
@media (max-width: 460px) {
  html {
    font-size: 14.5px;
  }
  .container {
    width: 90vw;
    grid-template-rows: 0.4fr 1fr;
    .image {
      background-image: url("../images/image-header-mobile.jpg");
    }
  }
}
