.footer{
  background-color: #000;
  color: #fff;
  padding: 20px $desktop-padding;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
  img{
    cursor: pointer;
  }
  .copyright{
    justify-self: flex-end;
  }
  .social{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  .menu{
    display: flex;
    gap: 20px;
    div{
      cursor: pointer;
    }
  }
}