// ## Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

// ### Primary Colors

$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

// ### Accent

$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);

// ### Neutral

$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin flexbox($dir, $jc, $ai) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $ai;
}

@mixin grid($config) {
  display: grid;
  grid-template-columns: #{$config};
}

.title {
  font-family: "Raleway", sans-serif;
  @include font(2.5rem, 700);
}

html {
  font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  body {
    margin: 1.5625rem 3.125rem;
    font-family: "Open Sans", sans-serif;
  }
}

.container {
  display: grid;
  gap: 2.5rem;
}

.navbar {
  @include flexbox(row, space-between, center);
  margin-bottom: 0.625rem;
  &__logo {
    img {
      width: 9rem;
    }
  }
  &__menu {
    @include flexbox(row, space-between, null);
    @include font(1.4375rem, 400);
    gap: 1.875rem;
    font-family: "Raleway", sans-serif;
    [class^="navbar__menu-"] {
      cursor: pointer;
      transition: all 0.15s ease;
      &:hover {
        font-weight: 700;
        padding: 0px;
      }
    }
  }
}

.section-1 {
  @include grid(0.5fr 0.5fr);
  align-items: center;
  .text {
    display: grid;
    gap: 1.25rem;
  }
  .description {
    @include font(1.25rem, 400);
  }
  .form {
    @include flexbox(row, null, null);
    gap: 1.25rem;
    input {
      border-radius: 0.375rem;
      padding: 0.625rem;
      width: 60%;
      outline: none;
      &::placeholder {
        font-size: 0.8rem;
      }
    }
    .btn {
      background-color: $Bright-Blue;
      color: $Light-Grayish-Blue;
      padding: 0.625rem 1.875rem;
      border-radius: 0.375rem;
      cursor: pointer;
      transition: all 0.15s ease;
      box-shadow: 0px 0.1875rem 0.3125rem 0.125rem rgba(0, 0, 0, 0.25);
      white-space: nowrap;
      &:hover {
        background-color: hsl(223, 87%, 63%);
        box-shadow: 0rem 0.1875rem 0.3125rem 0.125rem rgba(0, 0, 0, 0);
      }
    }
  }
}

.image {
  img {
    width: 100%;
  }
}

//  Media Queries are here

@media (min-width: 1200px) {
  html {
    font-size: 1.25vw;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 15.5px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
}
