// ## Fonts
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

// ### Primary Colors

$Pale-blue: hsl(225, 100%, 94%);
$Brightblue: hsl(245, 75%, 52%);

// ### Neutral Colors

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

/**
* ! Root element + resetting default styles
**/

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    font-family: "Red Hat Display", sans-serif;
    color: $Desaturated-blue;
    font-weight: 500;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $Pale-blue;
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
}

/**
* ! .container styles are here 
**/

.container {
  border: 2px solid red;
  background-color: white;
  height: 80vh;
  min-width: 450px;
  border-radius: 12px;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

/**
* ! .image styles are here 
**/

.image {
  background-color: $Brightblue;
  grid-row: span 4;
  background-image: url(../images/illustration-hero.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/**
* ! .content styles are here 
**/

.content {
  grid-row: span 6;
  padding: 30px;

  &__text {
    &-title {
      font-weight: 900;
      font-size: 1.75rem;
      color: $Dark-blue;
      margin-bottom: 10px;
    }
    &-info {
      margin-bottom: 20px;
    }
  }
}

/**
* ! .content__plan styles are here 
**/

.content__plan {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  padding: 10px 20px;
  align-items: center;
  background-color: $Very-pale-blue;
  &-change {
    justify-self: flex-end;
  }
}

/**
* ! Media Queries are here 
* ? 1200px || 900px || 500px
**/

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
