@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');


// ### Primary Colors

$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
 
// ### Neutral Colors

$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

body{
  min-height: 100vh;
  display:grid;
  place-content: center;
  font-family: 'Spartan', sans-serif;
  background-image: url('../images/bg-pattern-top-desktop.svg');
  background-repeat: no-repeat;
}

.color-1{
  color: $Very-Dark-Magenta;
}

.color-2{
  color: $Dark-Grayish-Magenta;
}
.stars{
  background-color: hsl(300, 24%, 92%);
  border-radius: 6px;
}

.card{
  background-color: $Very-Dark-Magenta;
  width: 100%;
}

.profile{
  width: 3.125rem
}
.status{
  color: $Soft-Pink;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  gap: 1.25rem;
  @media (max-width: 991px){
    grid-template-columns: 1fr;
  }
}

.review{
  color: hsl(0, 0%, 85%);
}